article {
    border-radius: 4px;
    overflow: hidden;
    background-color: $article-background-color;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    position: relative;
	width: 100%;

    .content {
        padding: 2em;

        h3 {
            font-size: 1.75em;
            margin-bottom: 0.25em;

            a {
				color: inherit;
				text-decoration: none;
                font-style: normal;
            }
        }

        .meta {
            font-style: normal;
            letter-spacing: 1px;
            margin-bottom: 2rem;
            font-size: 0.825em;
            color: $meta-text-color;

            a {
                font-style: normal;
            }
        }

        a.more {
            display: block;
            margin-bottom: 0.5rem;
            color: $highlight-color;
            text-decoration: underline;
        }

		a {
			text-decoration: underline;
			color: $highlight-color;
		}

        .task-list {
            list-style: none;

            .task-list-item {
                margin-bottom: 0;
                position: relative;
                top: 3px;
                margin-right: 0.25em;
            }
        }

        blockquote {
            background-color: #f6f6f6;
            font-family: $headline-font;
            margin: 1.5em 0;
            padding: 2em;
            border-left: 0.5em solid #ededed;
            font-size: 1.1em;

            cite {
                text-transform: uppercase;
                font-style: normal;
                font-weight: bold;
                font-size: 0.9em;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

	img {
            max-width: 100%;
			margin-bottom: 8px;
        }
	video {
	        max-width: 100%;
	    }
  }


    .footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
		margin-top: -1em;
        background: #F1F1F1;
		color: #6E6E6E;

        font-family: $article-footer-font;
        font-size: 0.8em;

        &.no-tags {
            flex-direction: row-reverse;
        }

        .tags {
            display: flex;
            align-items: center;
            margin: 1em 2em;

            .links {
				margin-left: 0.75em;
				a {
					text-decoration: none;
					color: inherit;
				}
                a:not(:last-child):after {
                    content: ", ";
                }
            }
        }

        .languages {
            display: flex;
            align-items: center;
            margin: 1em 2em;
            white-space: nowrap;

            .fa {
                font-size: 1.5em;
            }

            .links {
                margin-left: 0.75em;
                text-transform: uppercase;
                font-family: $content-font;
                letter-spacing: 0.1em;

                a:not(:last-child):after {
                    content: " | ";
                    color: $text-color !important;
                }
            }
        }
    }
}
