header {
    display: flex;
    background-color: $base-color;
	background-image: url(/bg.png);
	background-position: calc(50%) top;
    color: $header-text-color;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4);

    .container {
        display: flex;
        flex-direction: row;
		margin-top: 20px;
		margin-bottom: 12px;
    }

    .logo {
        position: relative;
        z-index: 4;
        align-items: center;
    }

    .logo img {
        max-width: 100%;
    }

    .titles {
        margin-left: 3rem;

        h3 {
            margin-bottom: 0;
            font-size: 3.25rem;
        }
    }
}
