@media (max-width: 834px) {

    header {
        width: 100%;

        .container {
            padding: 0 1em;
        }
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .main {
        margin-bottom: 0;
    }

    .main article {
        margin: 0;
        width: 100%;
    }

	.main .paginator {
        margin: 1.5em;
        margin-top: 50px;
    }

    footer .container {
        padding: 4rem 1.5em;
        flex-direction: column;
        text-align: center;

        div {
            width: 100%;
            margin: 0 !important;
            margin-top: 1.5em !important;
        }
    }

    .credits .container {
        padding: 4rem 1.5em;
    }
}
