$fonts-folder: '{{ "dist/fonts/" | relURL }}';

// Set the with of the main content area
// Notice that the actual content's width is $site-width - 100px
$site-width: {{ .Site.Params.SiteWidth | default "800px" }};

$headline-font: sans-serif;
$content-font: sans-serif;
$article-footer-font: sans-serif;

// main colors
$page-background-color: #f1f1f1;
$base-color: #343434;
$special-color: #424242;
$highlight-color: #0065A8;
$text-color: #222;

// easy styling
$nav-background-color: $special-color;
$nav-text-color: $page-background-color;

$header-text-color: $page-background-color;
$logo-color: darken( $page-background-color, 1 );

$article-background-color: #fff;
$meta-text-color: #999;
$meta-border-color: #eee;
$continue-reading-hover-color: $meta-text-color;

$footer-border-color: #eee;
$footer-background-color: rgba(#ffffff, 80);
$footer-headline-color: #444;
