<div class="content">
    <h1 class="article-headline"><a href="{{ .URL }}">{{ .Title }}</a></h1>
    {{ if ( .Params.showDate | default true ) }}
		<div class="meta">
    		<span class="date">{{ .PublishDate.Format (.Site.Params.DateFormat | default "2006-01-02") }}</span>
		</div>
    {{ end }}

    {{ if or (.Scratch.Get "singlePage") (.Params.noSummary) }}
        {{ .Content }}
    {{ else }}
        {{ .Summary }}

        {{ if .Truncated }}
            <a href="{{ .URL }}" class="more">continue reading</a>
        {{ end }}
    {{ end }}
</div>
