{{ if .Site.Params.showFooter | default true }}
<footer>
    <div class="container">
		<div class="left">
			{{ with .Site.Params.imprint }}
				<a href="{{ . }}" target="_blank">Imprint</a>&nbsp;
			{{ end }}
			{{ with .Site.Params.contact }}
				<a href="{{ . }}" target="_blank">Contact</a>&nbsp;
			{{ end }}
        </div>
        <div class="right">
            {{ if .Site.Params.showSocialMedia | default true }}
            <div class="external-profiles">
                {{ with .Site.Params.facebook }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-facebook-adblock-proof"></i></a>
                {{ end }}
                {{ with .Site.Params.twitter }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-twitter-adblock-proof"></i></a>
                {{ end }}
                {{ with .Site.Params.github }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-github"></i></a>
                {{ end }}
				{{ with .Site.Params.email }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-envelope"></i></a>
                {{ end }}
				{{ with .Site.Params.rss }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-rss"></i></a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</footer>
{{ end }}
